In [40]:
l1 = [15,6,100,2545,34.56,12.56,"Selina",73,5845,65,10,21,10,10,354,"Bruce", 12.23]
l2 = [12,32.3,23,34,765,45,34]
l3 = [12,56,76,8,"Bruce", 98]
print(l3.index("Bruce"))
print(l3[4][0:5])
print(f" Length of the list is : {len(l1)}")
l2.sort()
print(f" This sorts the list in default ascending order : {l2}")
l2.reverse()
print(f" This sorts the list in default decending order : {l2}")
l1.append(10)
print("Appends the value 10 at the end",l1)
l1.remove(2545)
print("Removes the value 2545",l1)
l1.extend(l2)
print("Joins both the list together", l1)
print("gives the index of name selina : ", l1.index("Selina"))
print("removes a specific element based on index value ", l2.pop(4) , l2)
print("Insert a values based on index" , l1.insert(3,7), l1)
for i in l1:
    print(i)

4
Bruce
 Length of the list is : 17
 This sorts the list in default ascending order : [12, 23, 32.3, 34, 34, 45, 765]
 This sorts the list in default decending order : [765, 45, 34, 34, 32.3, 23, 12]
Appends the value 10 at the end [15, 6, 100, 2545, 34.56, 12.56, 'Selina', 73, 5845, 65, 10, 21, 10, 10, 354, 'Bruce', 12.23, 10]
Removes the value 2545 [15, 6, 100, 34.56, 12.56, 'Selina', 73, 5845, 65, 10, 21, 10, 10, 354, 'Bruce', 12.23, 10]
Joins both the list together [15, 6, 100, 34.56, 12.56, 'Selina', 73, 5845, 65, 10, 21, 10, 10, 354, 'Bruce', 12.23, 10, 765, 45, 34, 34, 32.3, 23, 12]
gives the index of name selina :  5
removes a specific element based on index value  32.3 [765, 45, 34, 34, 23, 12]
Insert a values based on index None [15, 6, 100, 7, 34.56, 12.56, 'Selina', 73, 5845, 65, 10, 21, 10, 10, 354, 'Bruce', 12.23, 10, 765, 45, 34, 34, 32.3, 23, 12]
15
6
100
7
34.56
12.56
Selina
73
5845
65
10
21
10
10
354
Bruce
12.23
10
765
45
34
34
32.3
23
12

In [56]:
#WAP to remove to find duplicates elements in list, and sort them.
l1 = [1,2,34,5,3,2,1,2,3,7]
temp=[] 
for i in l1:
    if i not in temp:
        temp.append(i)
print(temp)        

temp.sort()
print("Sorted elements", temp)

[1, 2, 34, 5, 3, 7]
Sorted elements [1, 2, 3, 5, 7, 34]

In [57]:
#Write a Python program to get the largest number from a list.
l1=[12,34,65,87,90,43,93,2]
temp = l1[0]
for i in l1:
    if i > temp:
        temp = i
print("Largest number is",temp)

Largest number is 93

In [59]:
''' Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
    Expected Output : ['Green', 'White', 'Black']'''
s1 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print(s1[1:4])

['Green', 'White', 'Black']

In [78]:
#WAP to create a list such that new list contains alternate even and odd from given list
l1 = [10, 7, 55, 66, 99, 88, 33, 34]
evens =[]
odds = []
temp = []
def even():
    for i in l1:
        if i%2==0:
            evens.append(i)

def odd():
    for i in l1:
        if i%2!=0:
            odds.append(i)

for e, o in zip(evens, odds):
    temp.append(e)
    temp.append(o)
print(temp)

[10, 7, 66, 55, 88, 99, 34, 33]

In [84]:
#Write a Python program to find the list of words that are longer than given words
l1 =  ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
lenght = min(l1)
#for i in l1:
print(lenght)

Black

In [7]:
#LIST COMPREHENSION
l1 = [4, 5, 3, 87, 6, 89, 70]
l1 = [i for i in l1] 
print(l1)

l2 = [i for i in sorted(l1)]
print(l2)

[4, 5, 3, 87, 6, 89, 70]
[3, 4, 5, 6, 70, 87, 89]

In [19]:
s1 = [45, 56, 78,23 ,67, 89, 90]
s2 = ['Pass' if i > 40 else 'Fail' for i in s1]
print(s2)

s3 = ['Even' if i%2 == 0 else 'Odd' for i in s1]
print(s3)
print(len(s1))
print(sorted(s1))
print(min(s1))
print(max(s1))

['Pass', 'Pass', 'Pass', 'Fail', 'Pass', 'Pass', 'Pass']
['Odd', 'Even', 'Even', 'Odd', 'Odd', 'Odd', 'Even']
7
[23, 45, 56, 67, 78, 89, 90]
23
90

In [66]:
#Create tuple and with diffrent data types
t1 = (90, 89, 65, 4, 5, 6, 'bruce', 'Selina')
t2 = (34, 56, 89, 78, 77, 65)
#sum_t = sum(t2)
#print("Sum of tuple : ", sum_t)
#print( "Sorted order ",sorted(t1))
print("Length of Tuple", len(t1))
print("Tuple with different data types", t1)
#print("Max and Min", max(t1), min(t1))
l1 = list(t2)
print("Conversion to list : ", l1)
l1.append(69)
l1.remove(77)
t2 = tuple(l1)
print("Converting back and fourth from tuple-list(append value 69)(remove value 77)-tuple",t2)
print("Reverse a tuple : ", t2[::-1])
to_remove = 78
t3 = [i for i in t2 if i!= to_remove]
print(t3)
print("Slicing a tuple : ", t3[0:3])

Length of Tuple 8
Tuple with different data types (90, 89, 65, 4, 5, 6, 'bruce', 'Selina')
Conversion to list :  [34, 56, 89, 78, 77, 65]
Converting back and fourth from tuple-list(append value 69)(remove value 77)-tuple (34, 56, 89, 78, 65, 69)
Reverse a tuple :  (69, 65, 78, 89, 56, 34)
[34, 56, 89, 65, 69]
Slicing a tuple :  [34, 56, 89]

In [69]:
#unpacking tuple 
t1 = (90, 45, 23, 56, 78, 89, 90)
def calc(a, b):
    c = a+b
    d = a-b
    return c, d
print(calc(7, 10))   

result = calc(14, 4)
print(result)
print (type(result))

sum, sub= result #unpacking, direct refrencing
print(sum, sub)

(17, -3)
(18, 10)
<class 'tuple'>
18 10

In [70]:
from builtins import sum
t = (34, 56, 89, 78, 77, 65)
total = sum(t)
print(total)

399

In [92]:
# S E T  IN PYTHON
s1 ={12, 43, 43, 12 ,4, 5, 7, 3 ,4, 5,6,7,7,7 ,"bruce", "bruce"}
l1 = [1,2,3,3.21,21,21,21,32,43,32, "Bruce", "Bruce"]
print(s1)
s1.add("Selina")
print(s1)
s2=s1
s2.update([23, 45, 67])
print(s2)
s2.discard("Selina")
print(s2)
s2.remove("bruce")
print(s2)
sorted(s2)
s2.add("Alfred")
print(s2)
s3 = set(l1)
l3 = list(s3)
print(l3)
print("Print the len of the set i.e : ",len(s3))

{3, 4, 5, 6, 7, 43, 12, 'bruce'}
{3, 4, 5, 6, 7, 43, 12, 'Selina', 'bruce'}
{3, 4, 5, 6, 7, 67, 43, 12, 45, 'Selina', 'bruce', 23}
{3, 4, 5, 6, 7, 67, 43, 12, 45, 'bruce', 23}
{3, 4, 5, 6, 7, 67, 43, 12, 45, 23}
{3, 4, 5, 6, 7, 67, 43, 12, 45, 'Alfred', 23}
[32, 1, 2, 3.21, 3, 'Bruce', 43, 21]
Print the len of the set i.e :  8