In [1]:
#WHILE
i = 1
while i<=5:
    print("Hello!")
    i+=1

Hello!
Hello!
Hello!
Hello!
Hello!

In [1]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [2]:
#multiple of 5
i=20
while i<=50:
    print(i)
    i+=5

20
25
30
35
40
45
50

In [9]:
# REVERSE ORDER na and odd number
i=50
while i>=1:
    if i%2==0:
        print(i)
    i-=1

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [10]:
#reverse a number and store it
i = int(input("Enter the number : "))
r =0
while i>0:
    no = i%10
    r = r*10+no
    i//=10
print(r)

Enter the number :  456

654

In [13]:
#WAP to print even numbers from 121 to 229 using a for loop.
i=129
while i<=229:
    if i%2==0:
        print(i, end = " ")
    i+=1
    
print("\nWAP to print odd numbers from 521 to 229 using a while loop.")
i=521
while i>=229:
    if i%2!=0:
        print(i, end = " ")
    i-=1

130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228
WAP to print odd numbers from 521 to 229 using a while loop.
521 519 517 515 513 511 509 507 505 503 501 499 497 495 493 491 489 487 485 483 481 479 477 475 473 471 469 467 465 463 461 459 457 455 453 451 449 447 445 443 441 439 437 435 433 431 429 427 425 423 421 419 417 415 413 411 409 407 405 403 401 399 397 395 393 391 389 387 385 383 381 379 377 375 373 371 369 367 365 363 361 359 357 355 353 351 349 347 345 343 341 339 337 335 333 331 329 327 325 323 321 319 317 315 313 311 309 307 305 303 301 299 297 295 293 291 289 287 285 283 281 279 277 275 273 271 269 267 265 263 261 259 257 255 253 251 249 247 245 243 241 239 237 235 233 231 229

In [8]:
#Write a Python program to print all alphabets from a to z  using  for loop
i=0
for i in range(ord('a'), ord('z')+1):
    print(chr(i), end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [25]:
# Write a Python program to find the sum of all even numbers between 1 to n.

n = int(input("Enter the number : "))
sum = 0
for i in range(1, n+1):
    if i%2==0:
        sum+=i
print(f"The sum of 1 to {n} even numbers is {sum}")  

#Write a Python program to find the sum of all odd numbers between 1 to n.
n = int(input("Enter the number : "))
sum = 0
for i in range(1, n+1):
    if i%2!=0:
        sum+=i
print(f"The sum of 1 to {n} odd numbers is {sum}")

Enter the number :  10

The sum of 1 to 10 even numbers is 30

Enter the number :  10

The sum of 1 to 10 odd numbers is 25

In [31]:
#Write a Python program to count number of digits in any number
n = int(input("Enter number here :"))
n = abs(n)
count = 0 
while n > 0:
    n = n // 10
    count+=1
print(count)

Enter number here : 123456789

9

In [35]:
#WAP to print table of given no
n = int(input("enter number to get it's table : "))

for i in range(1, 11):
    print(f"{n*i}", end = " ")

#WAP to print squares from 1 to20
# Print squares from 1 to 20
print("\nSquares from 1 to 20:")
for i in range(1, 21):
    print(f"{i}^2 = {i*i}")

enter number to get it's table :  5

5 10 15 20 25 30 35 40 45 50
Squares from 1 to 20:
1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16
5^2 = 25
6^2 = 36
7^2 = 49
8^2 = 64
9^2 = 81
10^2 = 100
11^2 = 121
12^2 = 144
13^2 = 169
14^2 = 196
15^2 = 225
16^2 = 256
17^2 = 289
18^2 = 324
19^2 = 361
20^2 = 400

In [50]:
#ARMSTRONG OR NOT 
no = temp = 159
value = 0
while no > 0:
    digit = no%10
    value+=digit**3
    no//=10
print(value)    
if value == temp:
    print(f"Armstrong, number value {no}, value {value} and temp value {temp}")
else:
    print(f"Not Armstrong,  number value {no}, value {value} and temp value {temp}")

855
Not Armstrong,  number value 0, value 855 and temp value 159